* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: $bgColor;
    font-size: $fontBase;
    
    .header {
        height: 100px;
        width: 100%;
        padding: 1rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        .title {
            color: $colorPrimary;
            font-size: 60px;
            font-weight: 700;
            text-align: center;
        }
        
        .nav {
            width: 100%;
            
            &__list {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                list-style: none;
                gap: 1rem;

                &__link {
                    color: $colorPrimary;
                    text-decoration: none;

                }

                &__item--oculto {
                    display: none;
                }
            }
        }   
            
    }

}

footer {
    background-color: #ffff;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;

    &__derechos {
        margin-top: 2.5rem;
        margin-left: 2.5rem;
    }

    &__redes {
        margin: 2rem 1.5rem;
        width: 24rem;
        justify-self: end;

        &__link {
            margin: 1rem;
            text-align: center;
        }
    }
      

}