* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Nunito', sans-serif;
    .header {
        height: 100px;
        width: 100%;
        padding: 1rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .title {
            color: #deb887;
            font-size: 60px;
            font-weight: 700;
            text-align: center;
        }
        .nav {
            width: 100%;
        }
        ul {
            list-style: none;
        } 
        .nav__list {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
        
            gap: 1rem;
            .nav__link {
                color: #deb887;
                text-decoration: none;
            }
            .nav__item--oculto {
                display: none;
            }
        }
    }

}
.footer {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    .footer__derechos {
        display: flex;
        flex-direction: row;
    }
    .footer__link {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    
    } 
}